<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>

<body>
  <div class="main w-full min-h-screen bg-zinc-900 p-10">
    <a href="/users" class="text-blue-500 text-2xl">All users ></a>
    <h1 class="text-white text-3xl mt-10 mb-10">Edit User: <%= user.name %></h1>
    <form action="/update/<%=user._id%>" method="POST">
      <input type="text" name="name" placeholder="Name" class="text-white  w-full rounded-md bg-zinc-800 mt-2 p-5 outline-none" value="<%=user.name%>">
      <input type="text" name="email" placeholder="Email" class="text-white w-full rounded-md bg-zinc-800 mt-2 p-5 outline-none" value="<%=user.email%>">
      <input type="text" name="image" placeholder="Image url" class="text-white  w-full rounded-md bg-zinc-800 mt-2 p-5 outline-none" value="<%=user.image%>">
      <button type="submit" class="bg-yellow-500 p-2 text-white rounded-lg mt-5">Update User</button>
    </form>
  </div>
</body>

</html>